/* Colors */
:root {
    --sky-blue: #76D7EA;
    --pinkish: #FF6EFF;
    --orangish: #FF9933;
    --text-color: #e1e6f2;
    --redd: #FD5B78;
    --civic-si-coupe: #66FF66;
}

body {
    font-family: 'Quicksand', sans-serif;
}

/* Main Page */

.main {
    height: 100vh;

    /* CSS Animated Gradient - https://www.gradient-animator.com/ */
    background: linear-gradient(180deg, #3494e6, #ec6ead);
    background-size: 400% 400%;
    -webkit-animation: PortfolioBG 9s ease infinite;
    -moz-animation: PortfolioBG 9s ease infinite;
    animation: PortfolioBG 9s ease infinite;
}

/* With Animated Gradient */

@-webkit-keyframes PortfolioBG {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}

@-moz-keyframes PortfolioBG {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}

@keyframes PortfolioBG {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}

.main-header {
    position: absolute;
    top: 25%;
}

.main-header h1 {
    color: #fff;
}

/* Box */

.box {
    background: rgba(0, 0, 0, .5) ;  /* fallback for old browsers */
    box-shadow:         inset 0 0 15px rgba(0,0,0,.5);
    -moz-box-shadow:    inset 0 0 15px rgba(0,0,0,.5);
    -webkit-box-shadow: inset 0 0 15px rgba(0,0,0,.5);
    border-radius: 7px;
    padding: 10px 48px;
}

.box p {
    color: #fff;
}

.box a {
    color: var(--orangish);
    color: #FFCC33; /* For browsers that don't support CSS variables yet (looking at YOU... IE...) 8 */
    text-decoration: none;
}

.box-para-top {
    margin-top: 12px;
}

.box-para-bot {
    margin-bottom: 16px;
}

.box-para-top,
.box-para {
    margin-bottom: 8px;
}

.const {
    color: var(--pinkish);
    color: #FF6EFF; /* For browsers that don't support CSS variables yet (looking at YOU... IE...) 8 */
}

.name {
    color: var(--civic-si-coupe);
    color: #66FF66;
}

.keys {
    color: var(--sky-blue);
    color: #76D7EA; /* For browsers that don't support CSS variables yet (looking at YOU... IE...) 8 */
}

.values {
    color: var(--orangish);
    color: #FFCC33; /* For browsers that don't support CSS variables yet (looking at YOU... IE...) 8 */
}

.function {
    color: var(--pinkish);
    color: #FF6EFF; /* For browsers that don't support CSS variables yet (looking at YOU... IE...) 8 */
}

.key-function {
    color: var(--redd);
    color: #FD5B78; /* For browsers that don't support CSS variables yet (looking at YOU... IE...) 8 */
}

.clicky {
    text-decoration: underline;
}

.clicky:hover {
    cursor: pointer;
}

.clicky:focus {
    outline: #FDFF00 auto 5px;
}

.parenthesis {
    letter-spacing: 4px;
}

/* Pulsing Text - https://www.kevinleary.net/pulsating-css3-animations/*/

.pulsate {
    -webkit-animation: pulsate 1.5s ease-out;
    -moz-animation: pulsate 1.5s ease-out;
    animation: pulsate 1.5s ease-out;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    opacity: 0.4;
}

@-webkit-keyframes pulsate {
    0% {
        opacity: 0.4;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        opacity: 0.4;
    }
}

@-moz-keyframes pulsate {
    0% {
        opacity: 0.45;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        opacity: 0.4;
    }
}

@keyframes pulsate {
    0% {
        opacity: 0.4;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        opacity: 0.4;
    }
}

/* Cursor CSS - https://jsfiddle.net/dygxxb7n/601/ - Credit to Grinmax (https://stackoverflow.com/questions/42481586/input-cursor-that-is-blinking)*/

.cursor {
	position: relative;
}

.cursor	i {
	position: absolute;
	width: 2px;
	height: 86%;
	background-color: #fff;
	left: 4px;
	top: 18%;
	animation-name: blink;
	animation-duration: 800ms;
	animation-iteration-count: infinite;
	opacity: 1;
}

.cursor input:focus + i {
	display: none;
}

@keyframes blink {
	from { opacity: 1; }
	to { opacity: 0; }
}

/* Modals General */

.modal {
    margin: 0px;
}

.modal-header {
    border: none;
}

.modal-header button {
    padding: 12px;
    font-size: 2rem;
    position: absolute;
    right: 3%;
    color: var(--text-color);
    color: #e1e6f2; /* For browsers that don't support CSS variables yet (looking at YOU... IE...) 8 */
}

.modal-header button:hover {
    color: #fff;
}

/* Fonts */

.modal-heading {
    font-size: 2.4rem;
}

.modal-subheading {
    font-size: 1.6rem;
}

.modal-para {
    font-size: 1.2rem;
}

/* Modal Specific */

/* Name */

#name-modal img {
    max-width: 70%;;
    border-radius: 12px;
}

/* Coding */

#coding-modal img {
    max-width: 50%;
    margin-bottom: 16px;
}

/* Expertise */

#expertise-modal ul {
    padding-bottom: 16px;
}

/* Work */

.card {
    background: #9733EE;
    border-radius: 10px;
    border: 2px solid #e1e6f2;
    margin-bottom: 24px;
}

.card-body {
    height: 250px;
}

.modal-card-heading {
    font-size: 1.2rem;
}

.modal-card-para {
    font-size: 1rem;
    height: 120px;
}

.btn-work {
    background: none;
    border: 2px solid #e1e6f2;
    color: #e1e6f2;
}

.btn-work:hover {
    background: #e1e6f2;
    border: 2px solid #e1e6f2;
    color: #9733EE;
    box-shadow: 0 0 20px #DA22FF;
}

/* Modal Colors and BGs */

#name-modal-content {
    color: var(--text-color);
    color: #e1e6f2; /* For browsers that don't support CSS variables yet (looking at YOU... IE...) 8 */
    background: #f857a6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #ff5858, #f857a6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #ff5858, #f857a6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#coding-modal-content {
    color: var(--text-color);
    color: #e1e6f2; /* For browsers that don't support CSS variables yet (looking at YOU... IE...) 8 */
    background: #7474BF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #348AC7, #7474BF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #348AC7, #7474BF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#blog-modal-content {
    color: var(--text-color);
    color: #e1e6f2; /* For browsers that don't support CSS variables yet (looking at YOU... IE...) 8 */
    background: #DD5E89;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #F7BB97, #DD5E89);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #F7BB97, #DD5E89); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#expertise-modal-content {
    color: var(--text-color);
    color: #e1e6f2; /* For browsers that don't support CSS variables yet (looking at YOU... IE...) 8 */
    background: #348F50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #56B4D3, #348F50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #56B4D3, #348F50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#work-modal-content {
    color: var(--text-color);
    color: #e1e6f2; /* For browsers that don't support CSS variables yet (looking at YOU... IE...) 8 */
    background: #DA22FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #9733EE, #DA22FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #9733EE, #DA22FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#social-modal-content {
    color: var(--text-color);
    color: #e1e6f2; /* For browsers that don't support CSS variables yet (looking at YOU... IE...) 8 */
    background: #ff9966;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #ff5e62, #ff9966);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #ff5e62, #ff9966); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Media Queries */

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {

}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    /* General */

    .modal img {
        max-width: 60%;
    }


    /* Fonts */

    .modal-heading {
        font-size: 2.0rem;
    }

    .modal-subheading {
        font-size: 1.4rem;
    }

    .modal-para {
        font-size: 1.0rem;
    }

    /* Name Modal */

    #name-desc {
        padding-bottom: 30px;
    }

    /* Card Modal */

    .card-body {
        height: auto;
    }

    .modal-card-heading {
        text-align: center;
    }

    .modal-card-para {
        height: auto;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    /* General */

    .modal img {
        max-width: 60%;
    }

    /* Fonts */

    .modal-heading {
        font-size: 1.6rem;
    }

    .modal-subheading {
        font-size: 1.2rem;
    }

    .modal-para {
        font-size: .8rem;
    }

    /* Main Box */

    .box {
        padding: 8px 42px;
        width: 100%;
    }

    .box-para-top,
    .box-para,
    .box-para-bot {
        font-size: 1.25rem;
    }

}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    /* Fonts */

    .modal-heading {
        font-size: 1.2rem;
    }

    .modal-subheading {
        font-size: 1rem;
    }

    .modal-para {
        font-size: .8rem;
    }

    /* Main Box */

    .box {
        padding: 10px 40px;
        width: 100%;
    }

    .box-para-top,
    .box-para {
        margin-bottom: 12px;
    }

    .box-para-top,
    .box-para,
    .box-para-bot {
        font-size: .8rem;
    }


    /* Coding Modal */

    #coding-modal img {
        max-width: 75%;
        margin-bottom: 16px;
    }
}