/* Colors */
:root {
    --light-blue: #AFEEEE;
    --pinkish: #D98695;
    --orangish: #ffa500;
    --text-color: #e1e6f2;
}

/* Main Page */
.main {
    height: 100vh;
    /* Original Gradient BG
    background: #3494E6;
    background: -webkit-linear-gradient(to top, #EC6EAD, #3494E6);
    background: linear-gradient(to top, #EC6EAD, #3494E6);
    */

    /* CSS Animated Gradient - https://www.gradient-animator.com/ */
    background: linear-gradient(180deg, #3494e6, #ec6ead);
    background-size: 400% 400%;
    -webkit-animation: PortfolioBG 9s ease infinite;
    -moz-animation: PortfolioBG 9s ease infinite;
    animation: PortfolioBG 9s ease infinite;
}

/* With Animated Gradient */
    @-webkit-keyframes PortfolioBG {
        0%{background-position:50% 0%}
        50%{background-position:50% 100%}
        100%{background-position:50% 0%}
    }

    @-moz-keyframes PortfolioBG {
        0%{background-position:50% 0%}
        50%{background-position:50% 100%}
        100%{background-position:50% 0%}
    }

    @keyframes PortfolioBG {
        0%{background-position:50% 0%}
        50%{background-position:50% 100%}
        100%{background-position:50% 0%}
    }

.main-header {
    position: absolute;
    top: 25%;
}

.main-header h1 {
    color: #fff;
}

/* Box */
.box {
    background: rgba(47, 47, 47, .5) ;  /* fallback for old browsers */
    border-radius: 7px;
    -moz-box-shadow:    inset 0 0 15px rgba(0,0,0,.7);
    -webkit-box-shadow: inset 0 0 15px rgba(0,0,0,.7);
    box-shadow:         inset 0 0 15px rgba(0,0,0,.7);
}

.box p {
    color: #fff;
    font-size: 1.3em;
}

.box-para-top {
    margin-top: 10px;
}

.box-para-bot {
    margin-bottom: 15px;
}

.box-para-top,
.box-para {
    margin-bottom: 5px;
}

.const {
    color: var(--pinkish);
}

.name,
.keys {
    color: var(--light-blue);
}

.values {
    color: var(--orangish);
}

/* Pulsing Text - https://www.kevinleary.net/pulsating-css3-animations/*/

.pulsate {
    -webkit-animation: pulsate 2s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0.2;
    cursor: pointer;
}

@-webkit-keyframes pulsate {
    0% {
        opacity: 0.2;
    }

    50% {
        opacity: 1.0;
    }

    100% {
        opacity: 0.2;
    }
}

/* Cursor CSS - https://jsfiddle.net/dygxxb7n/601/ - Credit to Grinmax (https://stackoverflow.com/questions/42481586/input-cursor-that-is-blinking)*/
.cursor {
	position: relative;
}

.cursor	i {
	position: absolute;
	width: 1px;
	height: 82%;
	background-color: #fff;
	left: 5px;
	top: 21%;
	animation-name: blink;
	animation-duration: 800ms;
	animation-iteration-count: infinite;
	opacity: 1;
}

.cursor input:focus + i {
	display: none;
}

@keyframes blink {
	from { opacity: 1; }
	to { opacity: 0; }
}

/* Modals */
.modal-header {
    border: none;
}

.modal-header button {
    color: var(--text-color);
}

.modal-header button:hover {
    color: #fff;
}

.modal-heading {
    font-size: 2rem;
}

#location-modal-content {
    color: var(--text-color);
    background: #f857a6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #ff5858, #f857a6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #ff5858, #f857a6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#coding-modal-content {
    color: var(--text-color);
    background: #7474BF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #348AC7, #7474BF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #348AC7, #7474BF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#languages-modal-content {
    color: var(--text-color);
    background: #348F50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #56B4D3, #348F50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #56B4D3, #348F50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#work-modal-content {
    color: var(--text-color);
    background: #e65c00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #F9D423, #e65c00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #F9D423, #e65c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#social-modal-content {
    color: var(--text-color);
    background: #DA22FF;  /* fallback for old browsers */
    ackground: -webkit-linear-gradient(to bottom, #9733EE, #DA22FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #9733EE, #DA22FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}